.divform{
    position: absolute; top: 0px; left: 350px;
    font-size: 3em;
    text-align: center;
  margin-top: 3em;
  margin-bottom: 10em;
  color: rgb(206, 15, 15);
  border: 4px solid rgb(255, 0, 0);
  background-color: #dfae0e;
  width: 700px;
  display: block;
  width: 650px;
  margin: 4 auto;

}

.button{
    /* position: relative; top: 80px; left: 85px; */
    border: 3px solid rgb(255, 0, 0);
    background-color: #ff0707;
    color: white;
    /* width: 100px;
    height: 40px; */
    font-size: 18pt;
}

.title{
color: red;
font-size: 38pt;
font-style: italic;
}

.name{
    font-size: 28pt;
}
.description{
    font-size: 28pt;
}

.Ingredients{
    font-size: 28pt;
}
.price{
    font-size: 28pt;
}
